/* Header Ombres */
.site-header.style17.header--follow.sticky-resize.headerstyle--image_color.site-header--absolute.nav-th--light.siteheader-classic.siteheader-classic-normal.sheader-sh--light {
  text-shadow: black 0.1em 0.1em 0.1em;
}

/* Couleur écriture bouton last news */
  .latest_posts-readon.u-trans-all-2s.text-custom-child.kl-main-bgcolor {
      color:#008000;
  }
  
/* Nom & catégorie articles couleurs */
  .element-scheme--light a {
      color: #000000;
      font-weight: bold;
      font-family: roboto;
      font-style: oblique;
     }
  
  .element-scheme--light a:hover, .element-scheme--light .element-scheme__linkhv:hover {
      color: #008000 !important;
      font:bold;
  }
  
  
/* Couleurs & Positions hover icones sociales*/
  .site-header .topnav .topnav-item:hover, .site-header .topnav.social-icons .topnav-item:hover, .site-header.topnav .menu-item>a:hover, .site-header .kl-header-toptext a:hover {
      color: #008000 !important;
      text-shadow: black 0.1em 0.1em 0.1em;
      
  }