/* Couleur écriture bouton last news */
  .latest_posts-readon.u-trans-all-2s.text-custom-child.kl-main-bgcolor {
      color:#ff810b;
  }
  
/* Nom & catégorie articles couleurs */
  .element-scheme--light a {
      color: #000000;
      font-weight: bold;
      font-family: roboto;
      font-style: oblique;
     }
  
  .element-scheme--light a:hover, .element-scheme--light .element-scheme__linkhv:hover {
      color: #ff810b !important;
      font:bold;
  }
  
  
/* Couleurs & Positions hover icones sociales*/
  .site-header .topnav .topnav-item:hover, .site-header .topnav.social-icons .topnav-item:hover, .site-header.topnav .menu-item>a:hover, .site-header .kl-header-toptext a:hover {
      color: #ff810b !important;
      text-shadow: black 0.1em 0.1em 0.1em;
  }